{% extends "base.html" %}
{% load i18n %}
{% block breadcrumbs %}
    <ul>
        <li><a href="{% url main_catalog %}">{% trans 'Catalog' %}</a></li>
        <li><a href="{% url main_faculty_list %}">{% trans 'List of faculties' %}</a></li>
        <li>
            <a href="{% url main_faculty_delete faculty_id %}">{% trans 'Delete' %} {{ faculty_name }}</a>
        </li>
    </ul>
{% endblock %}
{% block content %}
    {% if deleted %}
        <ul class="messages">
            <li>{% trans 'Faculty was deleted' %}</li>
        </ul>
        <a href="{% url main_faculty_list %}">{% trans 'Back to list of faculties' %}
    {% else %}
        {% blocktrans %}
            This operation will delete faculty, and all related specialties, streams and directions.
            Are you sure?
        {% endblocktrans %}
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" name="accept" value="{% trans 'Accept' %}">
            <input type="submit" name="reject" value="{% trans 'Reject' %}">
        </form>

    {% endif %}

{% endblock %}
