{% extends "base.html" %}
{% load i18n %}
{% block breadcrumbs %}
    <ul>
        <li><a href="{% url main_catalog %}">{% trans 'Catalog' %}</a></li>
        <li><a href="{% url main_faculty_list %}">{% trans 'List of faculties' %}</a></li>
        <li>
            <a href="{% url main_faculty_display faculty_id %}">{{ faculty_name }}</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <b>{% trans 'Faculty Name' %}:</b> {{ faculty_name }}<br>
    <b>{% trans 'Faculty Information' %}:</b>
        <p> {{ faculty_information }} </p>
    <b>{% trans 'Dean' %}:</b> {{ dean_name }}<br>
    <b>{% trans 'Dean Information' %}: </b>
        <p> {{ dean_information }} </p>

    <a href="{% url main_faculty_edit faculty_id %}" class="command">{% trans 'Edit' %}</a>
    <a href="{% url main_faculty_delete faculty_id %}" class="command">{% trans 'Delete' %}</a>
{% endblock %}