{% extends "base.html" %}
{% load i18n %}
{% block breadcrumbs %}
    <ul>
        <li><a href="{% url main_catalog %}">{% trans 'Catalog' %}</a></li>
        <li><a href="{% url main_faculty_list %}">{% trans 'List of faculties' %}</a></li>
        <li>
            <a href="{% url main_faculty_edit faculty_id %}">{% trans 'Edit' %} {{ faculty_name }}</a>
        </li>

    </ul>
{% endblock %}

{% block content %}

    <form action="" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.faculty_name_en.label }}:</td><td>{{ form.faculty_name_en }}</td>
                    <td>{{ form.faculty_name_en.errors }}</td>
            </tr>
            <tr>
                <td>{{ form.faculty_name_ru.label }}:</td><td>{{ form.faculty_name_ru }}</td>
                <td>{{ form.faculty_name_ru.errors }}</td>
            </tr>
            <tr>
                <td>{{ form.faculty_name_kz.label }}:</td><td>{{ form.faculty_name_kz }}</td>
                <td>{{ form.faculty_name_kz.errors }}</td>
            </tr>
            <tr>
                <td>{{ form.faculty_information_en.label }}:</td><td>{{ form.faculty_information_en}}</td>
                <td>{{ form.faculty_information_en.errors }}</td>
            </tr>
            <tr>
                <td>{{ form.faculty_information_ru.label }}:</td><td>{{ form.faculty_information_ru}}</td>
                <td>{{ form.faculty_information_ru.errors }}</td>
            </tr>
            <tr>
                <td>{{ form.faculty_information_kz.label }}:</td><td>{{ form.faculty_information_kz}}</td>
                <td>{{ form.faculty_information_kz.errors }}</td>
            </tr>
            <tr>
                <td>{{ form.dean.label }}:</td><td>{{ form.dean }}</td>
                <td>{{ form.dean.errors}}</td>
            </tr>
        </table>
        <input type="submit" name="submit" value="{% trans 'Save' %}">
    </form>
{% endblock %}