{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static 'style/faculty_list.css' %}">
    <title>{% trans 'List of faculties'%}</title>
{% endblock %}
{% block breadcrumbs %}
    <ul>
        <li><a href="{% url main_catalog %}">Catalog</a></li>
        <li><a href="{% url main_faculty_list %}">List of faculties</a></li>
    </ul>
{% endblock %}

{% block content %}
    <ul id="faculty_list">
        {% for faculty in faculties %}
                <li>
                    <a href="{% url main_faculty_display faculty_id=faculty.id %}">
                        {{ faculty.translated_name }}
                    </a>
                </li>
        {% endfor %}
    </ul>
    <a href="{% url main_faculty_add %}" class="command">{% trans 'Add faculty' %}</a>
{% endblock %}