{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static 'style/catalog.css' %}">
    <title>{% trans 'Catalog '%}</title>
{% endblock %}


{% block breadcrumbs %}
    <ul>
        <li><a href="{% url main_catalog %}">{% trans 'Catalog' %}</a></li>
    </ul>
{% endblock %}

{% block content %}
    <table id="catalog">
        <tr>
            <td>
                <ul>
                    <li><a href="{% url main_faculty_list %}">{% trans 'Faculties' %}</a></li>
                    <li><a href="">{% trans 'Cafedras' %}</a></li>
                    <li><a href="">{% trans 'Specialties' %}</a></li>
                    <li><a href="">{% trans 'Directions' %}</a></li>
                    <li><a href="">{% trans 'Streams' %}</a></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><a href="">{% trans 'Tutors' %}</a></li>
                    <li><a href="">{% trans 'Staff' %}</a></li>
                    <li><a href="">{% trans 'Students' %}</a></li>
                    <li><a href="">{% trans 'Parents' %}</a></li>
                </ul>
            </td>
        </tr>
    </table>
{% endblock %}