{% extends "base.html" %}
{% load i18n %}
{% block head %}
    <title>{% trans 'Home page' %}</title>
{% endblock %}

{% block breadcrumbs %}
    <ul>
        <li><a href="{% url main_index %}">{% trans 'Home page' %}</a></li>
    </ul>

{% endblock %}

{% block content %}


{% endblock %}