{% extends "base.html" %}
{% load i18n %}
{% block menu %}
{% endblock %}
{% block breadcrumbs %}
    {% trans 'Authorization' %}
{% endblock %}
{% block content %}


    <form action="" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label }}:</td>
                <td>{{ form.username }}</td>
                <td>{{ form.username.errors }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label }}:</td>
                <td>{{ form.password }}</td>
                <td>{{ form.password.errors }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="submit" value="Enter"/></td>
                <td></td>
            </tr>
        </table>

    </form>

{% endblock %}