html {
    width: 100%;
}

#Container {
    width: 100%;
}

#Header {
    background-color: #D7CFFA;
    width: 100%;
    height: 100px;
    color: #36286D;
    position: relative;
    padding: 15px 15px 15px 15px;
}


#Footer {
    text-align: center;
    background-color: #635C7C;
    width: 100%;
    height: 60px;
}

#Menu {
    background-color: #36286D;
    width: 15%;
    vertical-align: top;
    color: white;
}

#Content {
    display: block;
    background-color: #F0EEFA;
    width: auto;
    min-height: 500px;
}

#Profile {
    text-align: right;
    width: 10%;
    vertical-align: top;
    background-color: #F0EAFA;
}

#Breadcrumbs {
    text-align: left;
    font-size: 12pt;
}

#Breadcrumbs li {
    display: inline;
    padding: 0;
    margin: 0;
}

#Breadcrumbs li:before { content: "> "; }
#Breadcrumbs li:first-child:before { content: ""; }

#Breadcrumbs a {
    text-decoration: none;
}

#Menu  {
    font-size: 12pt;
}

#menu_title {
    color: skyblue;
    font-size: 15pt;
    padding: 5px 5px 5px 5px;
    margin: 0 0 0 0;
}

#Menu ul {
    padding: 5px 5px 5px 5px;
    margin: 0 0 0 0;
}

#Menu li {
    list-style: none;
}

#Menu a {
    color: white;
    text-decoration: none;
}

.messages {
    list-style-type: none;
    color: green;
}

.errors {
    list-style-type: none;
    color: red;
}

.command {
    text-decoration: none;
    font-size: 15pt;
}

