{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="{% static 'style/base.css' %}">
    {% block head %}{% endblock %}
</head>
<body>


<table id="Container">
    <tr>
        <td colspan="3" id="Header">
            <h1>Wisdom</h1>
            <h3>{% trans 'Learning management system' %}</h3>
        </td>
    </tr>
    <tr>
        <td id="Menu">
            {% block menu %}
                <h3 id="menu_title">{% trans 'Navigation' %}</h3>
                <ul>
                    <li><a href="{% url main_index %}">{% trans 'Home page' %}</a></li>
                    <li><a href="{% url main_catalog %}">{% trans 'Catalog' %}</a></li>
                    <li><a href="{% url main_catalog %}">{% trans 'Academic calendars' %}</a></li>
                    <li><a href="{% url main_catalog %}">{% trans 'Curriculums' %}</a></li>
                    <li><a href="{% url main_catalog %}">{% trans 'Virtual groups' %}</a></li>
                    <li><a href="{% url main_catalog %}">{% trans 'Journals' %}</a></li>
                    <li><a href="{% url main_catalog %}">{% trans 'Schedules' %}</a></li>
                    <li><a href="{% url main_catalog %}">{% trans 'Reports' %}</a></li>


                </ul>
            {% endblock %}
        </td>
        <td id="Content">
            <div id="Breadcrumbs">{% block breadcrumbs %}{% endblock %}</div>
            <hr>
            <ul class="messages">
                {% for message in messages %}
                    <li>{% trans 'Message' %}: {{ message }}</li>
                {% endfor %}
            </ul>
            <ul class="errors">
                {% for error in errors %}
                    <li>{% trans 'Error' %}: {{ error }}</li>
                {% endfor %}
            </ul>
            {% block content %}{% endblock %}
        </td>
        <td id="Profile">
            {% block profile %}
                {% if request.user.is_authenticated %}
                    {{ request.user.first_name }} {{ request.user.last_name }}<br>
                    <a href="{% url main_logout %}">{% trans 'Logout' %}</a><br>
                    <a href="{% url main_change_language %}">{% trans 'Change language' %}</a><br>
                {% endif %}
            {% endblock %}

        </td>
    </tr>
    <tr>
        <td colspan="3" id="Footer">
            <h4>KAZNMU, 2013</h4>
        </td>
    </tr>
</table>



</body>
</html>